body {
    background-color: #fff;
}

header {
    display: flex;
    align-items: center;
    background-color: rgb(0, 138, 40);
    height: 175px;
}

.Logo {
    border: 4px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 25px;
}

nav {
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 10px;
    background-color: rgb(241, 90, 34);
    height: 70px;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgb(0, 138, 40);
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav div:hover {
    transition: background 0.3s ease;
    text-decoration: underline;
    background-color: #ffffff;
}
nav div a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

main {
    display: flex;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    background-color: #f2f2f2;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
label {
    margin-bottom: 12px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type="text"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}